@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ボタンのリセット ... https://qiita.com/nabettu/items/1593af04e48444c45c53 より */
button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
	font-size: 1.25rem;	/* 20px */
}

/* resetここまで */

.when-desktop { display: block; }
.when-mobile { display: none; }
.contents-5th ul.when-mobile { display: none; }

button {
	background: #F84646;
	color: white;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;  /* 14px */
}

body {
	/* リキッド */
	width: 100%;
	max-width: 1440px;

	/* 中央寄せ */
	margin: 0 auto;

	/* 全体の規定フォントを設定 */
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400; /* Regular */
}

.firstview {
	background: url('../images/Rectangle 1.jpg');
	background-position: 50%;
	height: 754px;
}

.firstview ul {
	padding: 35px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	font-size: 0.875rem;  /* 14px */
}

.firstview ul a {
	color: black;
}

.firstview .flex {
	width: 80%;
	max-width: 665px;
	margin-top: 95px;
	margin-left: 122px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.firstview .flex h1 {
	font-weight: 800; /* EntraBold */
	font-size: 4.0rem;      /* 64px */
}

.firstview .flex p {
	font-weight: 400; /* Regular */
	font-size: 1.25rem;     /* 20px */
}

.firstview .flex .search {
	margin-top: 50px;
	padding: 6px;
	border-radius: 5px;
	background: white;
	width: 500px;
	display: flex;
	justify-content: space-between;
}

.firstview .flex input {
	padding: .6rem 2rem;
	color: #00000066;	/* 灰色 */
	border: none;
	width: 20rem;
}

input:focus-visible {
	outline: none;
}

.firstview .flex button {
	padding: 1rem 2rem;
}
	
.firstview .flex button p {
	font-size: 1.0rem;      /* 16px */
	font-weight: 700; /* Bold */
}

.contents-1st header {
	padding: 0 2rem;
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: center;
	align-items: center;
}
	
.contents-1st header h2 {
	font-weight: 800; /* ExtraBold */
	font-size: 2.25rem;     /* 36px */
}

.contents-1st header p {
	font-size: 1.5rem;      /* 24px */
	max-width: 994px;
}

.contents-1st ul {
	margin: 0 auto;
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;
	gap: 116px;
	max-width: 1153px;
	justify-content: center;
}

.contents-1st .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

.contents-1st .item .heading {
	font-weight: 800; /* ExtraBold */
	font-size: 1.5rem;      /* 24px */
}

.contents-1st .item .dec {
	font-size: 1.125rem;    /* 18px */
}

.contents-2nd {
	margin-top: 140px;
	background: #F84646;     /* 朱色 */
	color: white;
}

.contents-2nd header h2 {
	padding-top: 68px;
	font-size: 3.0rem;      /* 48px */
	font-weight: 800; /* ExtraBold */
	text-align: center;
}

.contents-2nd header p {
	font-size: 1.125rem;    /* 18px */
	text-align: center;
}

.contents-2nd ul {
	margin: 0 auto;
	margin-top: 68px;
	padding: 0 2rem;
	padding-bottom: 68px;
	display: flex;
	justify-content: center;
	gap: 46px;
}

.contents-2nd ul li {
	font-size: 1.125rem;    /* 18px */
	font-weight: 700; /* Bold */
	width: 200px;
}

.contents-2nd ul li.caret {
	width: 32px;
}

.card {
	width: 80%;
	max-width: 1147px;
	margin: 0 auto;
	margin-top: 160px;
	display: grid;
	grid-template-areas: "desc image";
	grid-template-columns: 1fr 1fr;
	gap: 85px;
}

.card img {
	grid-area: image;
	width: 100%;
}

.card-desc {
	grid-area: desc;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1197px;
}

.card-desc h2 {
	font-size: 4.0rem;      /* 64px */
	font-weight: 700; /* Bold */
}

.card-desc p {
	font-size: 1.0rem;      /* 16px */
	color: #808080;		/* 灰色(2) */
}

.card-desc button {
	margin-top: 1rem;
	width: 10rem;
}

.card-desc button p {
	font-size: 0.875rem;    /* 14px */
	font-weight: 600; /* SemiBold */
	color: white;
}

.card.contents-4th {
	margin-top: 120px;
	margin-bottom: 160px;
	grid-template-areas: "image desc";
}

.contents-5th {
	background: #F4F5F7; /* 灰色(3) */
	color: black;
	padding: 59px;
	text-align: center;
}

.contents-5th header h2 {
	font-size: 3.0rem;      /* 48px */
	font-weight: 800; /* ExtraBold */
}

.contents-5th header p {
	font-size: 1.125rem;    /* 18px */
}

.contents-5th li {
	width: 170px;
	height: 96px;
	background: white;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contents-5th ul {
	margin-top: 48px;
	display: grid;
	grid-template-areas:
		".       .        akbank  .     .   " 
		".       istanbul akbank  aktas .   " 
		"borusan istanbul akcansa aktas amazon" 
		"borusan bookmy   akcansa ola   amazon" 
		".       bookmy   tumunu  ola   .   " 
		".       .        tumunu  .     .   ";
	grid-template-columns: 170px 170px 170px 170px 170px;
	gap: 24px;
	justify-content: center;
}

.contents-5th ul .borusan { grid-area: borusan; }
.contents-5th ul .istanbul { grid-area: istanbul; }
.contents-5th ul .bookmy { grid-area: bookmy; }
.contents-5th ul .akbank { grid-area: akbank; }
.contents-5th ul .akcansa { grid-area: akcansa; }
.contents-5th ul .tumunu { grid-area: tumunu; }
.contents-5th ul .aktas { grid-area: aktas; }
.contents-5th ul .ola { grid-area: ola; }
.contents-5th ul .amazon { grid-area: amazon; }

.contents-6th {
	margin: 160px auto;
	text-align: center;
}

.contents-6th h2 {
	margin-top: 10px;
	font-size: 3.0rem;      /* 48px */
	font-weight: 800; /* ExtraBold */
}

.contents-6th > p {
	margin-top: 20px;
	font-size: 1.125rem;    /* 18px */
}

.contents-6th button {
	margin-top: 30px;
	padding: 1rem 2rem;
}

.contents-6th button p {
	font-size: 1.5rem;      /* 24px */
	font-weight: 600; /* SemiBold */
}

footer {
	padding: 80px 104px 40px;
	background: #F84646;     /* 朱色 */
	color: white;
}

footer .lists {
	display: flex;
	gap: 100px;
}

footer .lists h2 {
	font-size: 1.0rem;      /* 16px */
	font-weight: 700; /* Bold */
}

footer .lists li a {
	font-size: 1.0rem;      /* 16px */
}

footer .lists section {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

footer .lists ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

footer .bottom {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

footer .bottom ul {
	display: flex;
	gap: 16px;	
}

/* tablet */
@media (max-width: 944px) {

	a {
		font-size: 0.875rem;    /* 14px */
	}

	.firstview .flex {
		margin-left: 84px;
	}

	.contents-1st {
		padding: 0 2rem;
	}

	.contents-1st header p {
		width: 100%;
	}

	.contents-5th ul {
		display: flex;
		flex-wrap: wrap;
	}

}

/* mobile - @media (max-width: 375px) { */
@media (max-width: 850px) {

	.when-desktop { display: none; }
	.when-mobile { display: block; }

	.firstview ul {
		justify-content: space-between;
	}

	.firstview .flex {
		margin-left: 0;
		margin-top: 27px;
		padding: 1rem;
		width: 100%;
	}

	.firstview .flex h1 {
		font-size: 2.625rem;    /* 42px */
		text-align: center;
	}

	.firstview .flex p {
		font-size: 0.75rem;     /* 12px */
		text-align: center;
	}

	.firstview .flex input {
		width: 70%;
		font-size: 0.875rem;    /* 14px */
	}

	.firstview .flex button {
		padding: 0.5rem 1rem;
	}

	.firstview .flex button p {
		font-size: 0.875rem;    /* 14px */
	}

	.firstview {
		height: auto;
	}

	.firstview .flex .search {
		margin-top: 43px;
		margin-bottom: 84px;
		width: 100%;
	}

	.contents-1st header {
		margin-top: 60px;
		padding: 0 1rem;
	}

	.contents-1st header h2 {
		font-size: 1.5rem;      /* 24px */
	}

	.contents-1st header p {
		font-size: 0.75rem;     /* 12px */
		width: 100%;
	}

	.contents-1st ul {
		margin-top: 40px;
		gap: 80px;
	}

	.contents-2nd {
		margin-top: 90px;
	}

	.contents-2nd header h2 {
		font-size: 2.25rem;     /* 36px */
	}

	.contents-2nd header p {
		font-size: 0.875rem;    /* 14px */
	}

	.contents-2nd ul {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.card {
		margin-top: 90px;
		grid-template-areas:
			"image"
			"desc";
		grid-template-columns: 1fr;
		gap: 30px;
	}

	.card.contents-4th {
		margin-top: 60px;
		margin-bottom: 80px;
		grid-template-areas:
			"image"
			"desc";
	}

	.card-desc h2 {
		font-size: 2.25rem;     /* 36px */
	}
	.card-desc p {
		font-size: 0.875rem;    /* 14px */
	}

	.card-desc button {
		font-size: 0.875rem;    /* 14px */
		width: 100%;
	}

	.contents-5th header h2 {
		font-size: 2.25rem;     /* 36px */
	}

	.contents-5th header p {
		font-size: 0.875rem;    /* 14px */
	}

	.contents-6th {
		margin: 90px auto;
		padding: 0 2rem;
	}

	.contents-6th h2 {
	font-size: 2.25rem;     /* 36px */
	}

	.contents-6th > p {
	font-size: 0.875rem;    /* 14px */
	}

	.contents-6th button {
	}

	.contents-6th button p {
	font-size: 1.0rem;      /* 16px */
	}

	footer {
		padding: 80px 2rem 0;
	}

	footer .lists {
		flex-direction: column;
		gap: 50px;
	}

	footer .bottom {
		padding-bottom: 77px;
		display: grid;
		grid-template-areas:
			"sns"
			"credit";
		grid-template-columns: 1fr;
		gap: 60px;
	}

	footer .bottom > p{
		grid-area: credit;
	}

	footer .bottom .sns {
		grid-area: sns;
	}

}
